.hide {
    display: none;
}
.vis {
    visibility: hidden;
}
body {
    background-color: blanchedalmond;
}
#top-logo {
    background-color: rgb(138, 34, 34);
    color: white;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#authorization-container {
    margin-top: 20px;
}
#book-display{
    display: flex;
    align-items: center;
    justify-content: center;
}
#book-display-content{
    width: 70%;
    margin-left: auto;
}
#create-book-form{
    margin-top: 20px;
}
.btn-createBook {
    margin: 10px 0 15px;
}
#show-book-container {
    margin-top: 15px;
}
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: rgb(138, 34, 34);
    --bs-btn-border-color: #be2e3c;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: rgb(160 88 88);
    --bs-btn-hover-border-color: #be2e3c;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: rgb(148 40 40);
    --bs-btn-active-border-color: #be2e3c;
    --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: rgb(138, 34, 34);
    --bs-btn-disabled-border-color: rgb(138, 34, 34);
}
